<section class="fdb-block pb-0">
    <div class="container">
      <h1>Orders</h1>

      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Total</th>
            <th>Product</th>
          </tr>
        </thead>

        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.id %></td>
              <td><%= order.total %></td>
              <td><%= order.product %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
</section>